
/* ControlPanel.css */

.control-panel p {
  margin: 5;
}

.button-group {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  justify-content: center; /* 设置按钮水平居中 */
  align-items: center; /* 设置按钮垂直居中 */
  gap: 8px; /* 设置按钮之间的间距 */
}

.button-group .ant-btn {
  width: 80px; /* 设置按钮宽度 */
  height: 80px; /* 设置按钮高度 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* 去掉默认内边距 */
  font-size: 15px; /* 设置字体大小 */
}

.control-panel a {
  color: #1890ff; /* 设置链接颜色 */
}

.control-panel a:hover {
  color: #40a9ff; /* 设置链接悬停颜色 */
}


