
/* ControlPanel.css */

/* ControlPanel.css */

.control-panel p {
  margin: 0;
}

.button-group {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  gap: 8px; /* 设置按钮之间的间距 */
}

.button-group .ant-btn {
  width: 80px; /* 设置按钮宽度 */
  height: 80px; /* 设置按钮高度 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* 去掉默认内边距 */
  font-size: 15px; /* 设置字体大小 */
}



